.bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgb(26, 233, 205) !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(143 1 1);
    font-weight: bold;
}

a {
    color: #a4b7d3;
    text-decoration: underline;
}

a:hover {
    color: #ffffff;
    text-decoration: underline;
}